/* Write your CSS here */

.course-title {
  font-family: 'Roboto';
  font-size: 20px;
}

.course-title-circle-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circle-con {
  display: flex;
  align-items: center;
}

.course-items-ul-con {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.course-items-li-con {
  font-family: 'Roboto';
  font-size: 15px;
  margin-right: 10px;
  font-weight: 500;
}

.para {
  margin: 0;
}
